.ticket-page {
  width: calc(100%);
  display: flex;
  flex-wrap: wrap;
}

.ticket {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 16px;
  width: calc(50% - 60px);
  margin-right: 20px;
}

.ticket-qr {
  padding-right: 12px;
  border-right: 1px dashed #ccc;
}

.ticket-info {
  padding-left: 12px;
}

.ticket-info div {
  margin-bottom: 4px;
}

.ticket-title {
  margin: 0;
  margin-bottom: 8px;
}
